<!-- <div class="body">
    <div><span class="Point">Name: </span> <span class="answer">Karin Ehab</span> </div>
    <div><span class="Point">Academic Year : </span> <span class="answer">Year 3</span> </div>
    <div><span class="Point">Goals: </span> <span class="answer">My own Startup</span> </div>
    <div><span class="Point">Hobbies: </span> <span class="answer">Squash</span> </div>
    <div><span class="Point">Technologies: </span> <span class="answer">Microsoft</span> </div>

  </div> -->

  <div class="body">
    <ul>
      <li *ngFor="let item of List">
        <span class="Point">{{ item.label }}: </span>
        <span class="answer">{{ item.value }}</span>
      </li>
    </ul>
  </div>
  
