.body{
    font-size: 20px;
    border:rosybrown 2px solid;
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    width: 45%;
}

ul {
    list-style-type: none;
}

.Point{
    font-weight: 700;
}
.answer{
    font-style: italic;
} 